.InputField {
  display: flex;
  flex-direction: column;
  max-width: 200px;

  .Label {
    font-size: 14px;
    margin-left: 6px;
    color: gray;
  }


  input {
    font-size: 14px;
    padding: 2px 6px;
    border: gray 1px solid;
    border-radius: 6px;
    outline: none;
  }

}