.Navbar {
  padding: 4px 10px;
  border-bottom: var(--main-border);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  div {
    display: flex;
    align-items: center;
    gap: var(--mid-space);

    .brand {
      gap: 2px;

      img {
        justify-self: end;
        height: 36px;
      }
    }

    button {
      color: white;
      padding: 0;
      background-color: transparent;
      height: 36px;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
      }

      svg {
        height: 36px;
        width: 36px;
      }
    }

    ;
  }
}

#PrintButton {

  font-size: 14px;
  font-weight: bold;

  background-color: rgb(218, 218, 218);

  border-radius: 6px;
  border: 1px solid gray;
  outline: none;

  cursor: pointer;

  display: flex;
  padding: 2px var(--mid-space);
  gap: var(--mid-space);
  align-items: center;
}