.ResumeContainer {
  width: 100%;
  height: calc(100vh - var(--nav-height) - var(--main-border-thickness));
  overflow-y: scroll;
}

.Resume {
  background-color: white;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid rgb(199, 199, 199);

  /* A4 sheet sizing : 21 x 29.7 sq. cm */
  width: 21cm;
  height: 29.7cm;

  h3 {
    color: black;
  }
}

.ResumeSection {
  .Content {
    padding-left: var(--mid-space);

    >div {
      position: relative;
    }

    .Side {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
    }

  }

  .Heading {
    border-bottom: solid 1px black;
    margin-top: var(--mid-space);
    margin-bottom: var(--mid-space)
  }

  p,
  ul,
  li {
    font-size: 12px;
  }

}

@media print {

  .Resume,
  .Resume * {
    visibility: visible;
  }

  .Resume {
    position: absolute;
    left: 0;
    top: 0;
    width: 21cm;
    height: 29.7cm;
    /* padding: 0; */
    margin: 0;
  }
}