.ResumeContainer {
  width: 100%;
  height: calc(100vh - var(--nav-height) - var(--main-border-thickness));
  overflow-y: scroll;
}

.Resume {
  margin: 20px auto;
  padding: 30px;
  border: 1px solid rgb(199, 199, 199);

  /* A4 sheet sizing : 21 x 29.7 sq. cm */
  width: 21cm;
  height: 29.7cm;
}


.Summary {
  margin: 14px auto;

  h4 {
    letter-spacing: 1px;
    border-bottom: solid 1px black;
  }

  p {
    margin-top: 8px;
    font-size: 12px;
  }
}