.inputs {
  overflow-y: auto;
  width: 800px;
  border-right: var(--main-border);
  position: relative;

  .input-fields {
    padding: 20px;

    h3 {
      margin-bottom: calc(2 * var(--mid-space));
    }

  }

  .input-tabs {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    /* background-color: var(--card-bg); */
    background-color: rgb(45, 45, 45);

    button {
      display: flex;
      font-size: 16px;
      justify-content: center;
      border: none;
      outline: none;
      gap: 8px;
      flex: 1;
      background-color: transparent;
      color: white;

      &:hover {
        cursor: pointer;
        ;
      }


      &.active {
        background-color: var(--app-bg);
        border-radius: 10px 10px 0 0;
      }
    }
  }
}

main {
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;

  h3 {
    color: white;
  }
}