.inputs {
  overflow-y: auto;
  width: 800px;
  border-right: var(--main-border);
  position: relative;

  .input-fields {
    padding: 20px;
  }

  .input-tabs {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;

    .active {
      background-color: rgb(111, 111, 111);
    }

    button {
      display: flex;
      font-size: 16px;
      justify-content: center;
      border: none;
      outline: none;
      gap: 8px;
      flex: 1;

      background-color: var(--input-bg);
      color: white;
    }
  }
}

main {
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;

  h3 {
    color: white;
  }
}