@import url('./styles/modern-reset.css');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
  font-family: "Geist Mono";
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}